[Unit]
Description=Gunicorn instance for ghaza_una_fact_checker_api Django app
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/home/ghaza_una_fact_checker_api
Environment="PATH=/home/ghaza_una_fact_checker_api/env/bin"
ExecStart=/home/ghaza_una_fact_checker_api/env/bin/gunicorn \
          --config /home/ghaza_una_fact_checker_api/gunicorn_config.py \
          Config.wsgi:application
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target

